@import '../mixins';
.custom-footer {
  &__container {
    width: 100%;
    height: 50vh;
    display: flex;
    position: relative;
    @include respond(small-tablet) {
      // flex-direction: column;
      flex-wrap: wrap;
    }
    &::before {
      content: '';
      position: absolute;
      left: 0%;
      bottom: 0%;
      height: 100%;
      width: 20%;
      background-color: rgb(32, 32, 32);
    }
  }
  &__nav {
    width: 86%;
    display: flex;
    @include respond(small-tablet) {
      justify-content: space-between;
      width: 100%;
      flex-wrap: wrap;
      margin-top: 2rem;
    }
    margin: auto 0;
    gap: 3vw;
    text-align: center;
    li {
      @include respond(small-tablet) {
        font-size: 1rem;
      }
      font-size: 1vw;
      color: var(--fade-text);
    }
  }
  &__content-wrapper {
    width: 86%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    @include respond(small-tablet) {
      // flex-direction: column;
      position: relative;
      width: 100%;
      inset: 0vh 0 0 0;
      flex-wrap: wrap;
      height: auto;
    }
    z-index: 2;
    margin: auto;
    inset: -20vh 0 0 6vw;
    img {
      position: absolute;
      width: 38vh;
      @include respond(small-tablet) {
        right: -6%;
        width: 16vh;
      }

      right: 0vw;
      top: -5vh;
    }
  }
  &__text-input {
    padding: 4rem 0rem 3rem 9.5vw;
    @include respond(small-tablet) {
      padding: 4rem 2rem 3rem 9.5vw;
    }

    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    &-wrapper {
      display: flex;
      @include respond(small-tablet) {
        flex-direction: column;
      }
      justify-content: center;

      gap: 4rem;
      .text {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        p {
          font-size: xx-small;
          color: gray;
        }
      }
      .input-text-wrapper {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 1rem;
      }
      .input {
        width: 50%;
        @include respond(small-tablet) {
          width: 100%;
        }
        margin-right: auto;
        display: flex;
        gap: 0.3rem;
        padding-bottom: 1em;
        border-bottom: 1px solid rgb(54, 54, 54);
        input {
          flex-grow: 1;
          background-color: black;
          outline: none;
          border: none;
          color: white;
        }
        &__bottom-text {
          width: 100%;
          display: flex;
          @include respond(small-tablet) {
            justify-content: space-between;
          }
          gap: 2rem;
          p {
            font-size: xx-small;
            color: gray;
          }
        }
      }
    }
  }
  &__bottom {
    display: flex;
    padding: 1em;
    width: 86%;
    @include respond(small-tablet) {
      width: 100%;
      gap: 1rem;
      justify-content: space-between;
      flex-wrap: wrap;
      translate: 0vw 0;
      padding: 1rem;
    }

    align-items: center;
    z-index: 2;
    gap: 3rem;
    margin: auto auto 0 auto;
    translate: 3vw 0;
    align-self: flex-end;
    .copyright {
      margin: auto;
    }
    .logo img {
      width: 100px;
    }
    .social__icons {
      gap: 1rem;
      display: flex;
      margin: auto;
      color: var(--dark-text);
    }
    div {
      color: var(--dark-text);
      font-size: smaller;
      span {
        color: var(--dark-text);
        font-weight: 600;
      }
    }
  }
}
