/*======= Nav-BAR ========*/
@import '../_mixins.scss';

.custom-nav {
  &__container {
    z-index: 4;
    @include flex();
    @include respond(small-tablet) {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 0.4rem;
      right: 0;
    }
    padding: 0 2rem;
    li {
      font-size: 13px;
    }
  }
  &__wrapper {
    color: white;
    max-width: var(--maxWidth);

    width: 100%;
    padding: 1.3rem 0rem;
    @include flex($gap: 4.5rem);
    @include respond(tablet-portrait) {
      padding: 0.3rem 0rem;
      max-width: none;
    }
  }
  &__item-logo {
    margin-right: auto;
    background-color: rgb(36, 37, 37);
    .logoimage {
      @include respond(tablet-portrait) {
        width: 100px;
        max-width: none;
        object-fit: contain;
      }
    }
  }
  &__item {
    @include respond(tablet-portrait) {
      display: none;
    }
  }
  &__item-auth {
    // margin-left: auto;
    background: linear-gradient(to right, #1b407a, #1d4480, #1b3f77);
    border-radius: 100px;
    padding: 0.5rem 1.3rem;
    color: white;
    text-decoration: none;
    @include respond(small-tablet) {
      display: none;
    }
  }
}
